$post-list-entry-title-font-size				: 14px;		
$entry-title-font-weight						: 700;
$post-list-entry-title-font-weight				: 700;

$widget-sidebar-entry-title-font-weight			: 400;
$widget-sidebar-entry-title-font-size			: 12px;