$widget-product-list-padding			: 15px 0;

$product-name-font-weight               : 400;
$product-name-font-size                 : 14px;
$product-name-line-height               : 18px;
$product-name-color                     : $black;
$product-name-margin                    : 0px;
$product-name-padding                   : 20px;
$product-name-height                    : 36px;

$product-price-old-color				: #999999;
$product-price-color                    : #e74444;
$product-price-font-size                : 18px;
$product-price-font-weight				: 700;

// Star
// -------------------------
$star-rating-color                      : $nocolor;
$star-rating-active-color               : $nocolor;

$product-category-hover-color			: $theme-color;

$widget-product-list-font-weight		: 500;
$widget-product-list-text-transform		: none;

$filter-margin							: 0;
$filter-padding                         : 15px 8px;
$filter-bg								: $white;
$filter-border-radius 					: 4px;
$filter-box-shadow 						: 0 0 3px #d2d2d2; 

$sale-label-bg							: #43BEE7;
$sale-label-color						: $white;
$sale-label-padding						: 4px 2px 4px 0;
$sale-label-align						: left;

$single-product-summary-font-size		: 13px;