body{
	background:  url('#{$image-theme-path}sport-bg.png') repeat transparent;
}
html, html a{
	@include text-shadow(none!important);
}
.default-template{
	article.page {
		> *{
			background: $white;
			padding: 20px;
		}
		div[class*="columns-"]{
			background: none!important;
			padding: 0!important;
		}	
	}	
}
.single-post{
	#wpo-content{
		padding: 20px;
		margin-bottom: 30px;
		background: $white;
	}
}

.post-area .blog-post-detail .information-post{
	padding: 20px;
}