$page-background								: #F8F8F8;

$box-heading-font-size							: 14px;

$block-sidebar-heading-font-size				: 18px;
$block-sidebar-heading-padding                  : 20px 0 0 20px;
$block-sidebar-box-padding						: 0;
$block-sidebar-heading-color 					: #f8c357;
$block-module-heading-font-weight				: 700;
$block-module-heading-padding                   : 30px 0;
$block-module-heading-margin					: 0;
$block-module-margin-bottom						: 0;
$block-module-heading-font-size					: 14px;
$block-module-heading-transform					: uppercase;

$del-font-size									: 14px;
$del-color										: #999999;

$block-sidebar-heading-hightlight-bg            : $white;
$block-sidebar-heading-hightlight-margin		: 0;
$block-sidebar-heading-hightlight-padding       : 20px 0 20px 20px;
$block-sidebar-heading-hightlight-color         : $theme-color;
$block-sidebar-heading-hightlight-font-size     : 18px;
$block-sidebar-heading-hightlight-margin-bottom : 0px;
$block-sidebar-hightlight-content-bg			: $nocolor;
$block-sidebar-hightlight-content-color			: #666666;
$block-sidebar-hightlight-border   				: 1px solid rgba(0, 0, 0, 0.1);
$block-sidebar-hightlight-font-size 			: 13px;	
$block-sidebar-hightlight-transform 			: none;
$block-sidebar-hightlight-font-weight			: 300;	

$topbar-bg                                      : #222222;
$topbar-link-color                              : $white;
$topbar-link-hover-color                        : $theme-color;
$topbar-color                                   : #999999;
$topbar-font-size								: 10px;

$header-padding-top                             : 0;
$header-padding-bottom                          : 0;
$header-margin-bottom                           : 0;

$breadcrumb-padding-top          				: 20px !important;
$breadcrumb-padding-bottom       				: 20px !important;
$breadcrumb-margin               				: 0 !important;
$breadcrumb-layout-bg			 				: $nocolor;
$breadcrumb-color				 				: #666666;
$breadcrumb-link-color			 				: #666666;
$breadcrumb-line-height			 				: 1;

$footer-bg                                      : #333333;
$footer-color                                   : #999999;
$footer-link-color                              : #999999;
$footer-link-hover-color                        : $theme-color;
$footer-font-size                               : 12px; 

$footer-top-bg 									: #F3F3F3;
$footer-top-padding-top							: 12px; 
$footer-top-padding-bottom						: 12px;
$footer-top-font-size							: 12px;
$footer-top-letter-spacing						: 2px;
$footer-top-color								: $black;

$copyright-bg                                   : #333333;
$copyright-color                                : #999999 ;
$copyright-link-color                           : $theme-color;
$copyright-padding-top                          : 35px;
$copyright-padding-bottom                       : 35px;
$copyright-font-size							: 12px;
$copyright-font-weight							: 300;