$widget-product-list-padding			: 15px 0;

$product-name-font-size                 : 14px;
$product-name-font-weight               : 700;

$product-price-old-color				: #cccccc;
$product-price-color                    : $theme-color;
$product-price-font-size                : 18px;
$product-price-font-weight 				: 300;
// Star
// -------------------------
$star-rating-color                      : $light-gray;
$star-rating-active-color               : #FFCC66;
$star-rating-font-size                  : 9px;

$product-category-hover-color			: $theme-color;

$filter-padding                         : 15px 8px;
$filter-bg								: $white;
$filter-border-radius 					: 4px;
$filter-box-shadow 						: none; 

$widget-product-list-font-size          : 13px;
$widget-product-list-color				: $black;
$widget-product-list-font-weight		: 300;
$widget-product-list-text-transform		: none;