$block-sidebar-heading-font-size				: 18px;
$block-sidebar-heading-padding                  : 0 0 20px;
$block-sidebar-module-border					: 1px solid $theme-color;
$block-sidebar-box-padding						: 20px;

$block-module-heading-font-weight				: 300;
$block-module-heading-padding                   : 0 0 15px;
$block-module-margin-bottom						: 20px;
$block-module-heading-font-size					: 18px;

$block-sidebar-heading-hightlight-bg            : $theme-color;
$block-sidebar-heading-hightlight-margin-bottom : 0px;
$block-sidebar-heading-hightlight-margin		: 0;
$block-sidebar-hightlight-link-color			: #999999;
$block-sidebar-heading-hightlight-font-size     : 18px;
$block-sidebar-heading-hightlight-font-weight   : 300;
$block-sidebar-heading-hightlight-bg            : $theme-color;
$block-sidebar-heading-hightlight-padding       : 15px 0 15px 20px;
$block-sidebar-heading-hightlight-color         : $white;
$block-sidebar-heading-hightlight-margin		: 0;
$block-sidebar-hightlight-content-bg			: #3C424C;
$block-sidebar-hightlight-content-padding		: 0;
$block-sidebar-hightlight-content-color			: #999999;
$block-sidebar-hightlight-border   				: 1px solid rgba(255, 255, 255, 0.1);
$block-sidebar-hightlight-font-size 			: 14px;	
$block-sidebar-hightlight-transform 			: none;
$block-sidebar-hightlight-font-weight			: 400;	
$block-sidebar-list-hightlight-padding          : 12px 0;
$block-sidebar-list-hightlight-bg               : none;

$topbar-bg                                      : #3C424C;
$topbar-link-color                              : $white;
$topbar-link-hover-color                        : $theme-color;
$topbar-color                                   : #999999;
$topbar-font-size								: 12px;

$header-padding-top                             : 0;
$header-padding-bottom                          : 0;
$header-margin-bottom                           : 0;

$breadcrumb-padding-top          				: 13px !important;
$breadcrumb-padding-bottom       				: 13px !important;
$breadcrumb-margin               				: 0 0 40px !important;
$breadcrumb-layout-bg			 				: $white;
$breadcrumb-color				 				: #222222;
$breadcrumb-link-color		     				: #999999;

$footer-bg                                      : #3C424C;
$footer-color                                   : #999999;
$footer-link-color                              : #999999;
$footer-link-hover-color                        : $theme-color;

$footer-top-bg 									: $white;
$footer-top-padding-top							: 12px; 
$footer-top-padding-bottom						: 12px;
$footer-top-font-size							: 12px;
$footer-top-letter-spacing						: 2px;
$footer-top-color								: $black;
$footer-font-size                               : 14px; 
$footer-link-font-size                          : 11px; 

$copyright-bg                                   : #3C424C;
$copyright-color                                : #999999 ;
$copyright-link-color                           : $theme-color;
$copyright-padding-top                          : 35px;
$copyright-padding-bottom                       : 35px;
$copyright-link-color                           : $theme-color;
$copyright-font-size							: 14px;