$page-background								: #F8F8F8;

$box-heading-font-size							: 14px;

$block-sidebar-heading-font-size				: 24px;
$block-sidebar-heading-padding                  : 20px 0;

$block-module-heading-font-weight				: 300;
$block-module-heading-padding                   : 15px 0;
$block-module-heading-margin					: 0 0 20px 0;
$block-module-margin-bottom						: 20px;
$block-module-heading-font-size					: 24px;
$block-module-heading-transform					: uppercase;

$block-sidebar-heading-hightlight-font-size     : 14px;
$block-sidebar-heading-hightlight-font-weight   : 900;
$block-sidebar-heading-hightlight-bg            : $theme-color;
$block-sidebar-heading-hightlight-padding       : 15px 0 15px 20px;
$block-sidebar-heading-hightlight-color         : $white;
$block-sidebar-heading-hightlight-margin		: 0;
$block-sidebar-hightlight-content-bg			: #293240;
$block-sidebar-hightlight-content-padding		: 0;
$block-sidebar-hightlight-content-color			: #909cad;
$block-sidebar-hightlight-border   				: 1px solid rgba(255, 255, 255, 0.06);
$block-sidebar-hightlight-font-size 			: 12px;	
$block-sidebar-hightlight-transform 			: uppercase;
$block-sidebar-hightlight-font-weight			: 300;	
$block-sidebar-list-hightlight-padding          : 13px 0;
$block-sidebar-list-hightlight-bg               : none;

$topbar-bg                                      : #222222;
$topbar-link-color                              : $white;
$topbar-link-hover-color                        : $theme-color;
$topbar-color                                   : #666666;
$topbar-font-size								: 11px;

$header-padding-top                             : 0;
$header-padding-bottom                          : 0;
$header-margin-bottom                           : 0;

$breadcrumb-padding-top          				: 10px !important;
$breadcrumb-padding-bottom       				: 10px !important;
$breadcrumb-margin               				: 0 !important;
$breadcrumb-color				 				: #999999;
$breadcrumb-link-color			 				: #999999;			

$footer-bg                                      : #293240;
$footer-color                                   : #909cad;
$footer-link-color                              : #909cad;
$footer-link-hover-color                        : $theme-color;
$footer-font-size 								: 13px;
$footer-link-font-size							: 11px;

$footer-top-bg 									: #333D4C;
$footer-top-padding-top							: 12px; 
$footer-top-padding-bottom						: 12px;
$footer-top-font-size							: 12px;
$footer-top-letter-spacing						: 2px;
$footer-top-color								: $white;
$footer-top-border-color							: rgba(255, 255, 255, 0.1);

$copyright-bg                                   : #293240;
$copyright-color                                : #909cad ;
$copyright-link-color                           : $theme-color;
$copyright-padding-top                          : 35px;
$copyright-padding-bottom                       : 35px;

