$widget-product-list-padding			: 15px 0;

$product-name-font-size                 : 15px;
$product-name-font-weight               : 300;

$product-price-old-color				: $black;
$product-price-color                    : $white;
$product-price-font-size                : 14px;

// Star
// -------------------------
$star-rating-color                      : $light-gray;
$star-rating-active-color               : #FFCC66;
$star-rating-font-size                  : 9px;

$single-product-summary-font-size		: 15px;

$product-category-hover-color			: $theme-color;

$widget-product-list-font-size          : 15px;
$widget-product-list-color				: $black;
$widget-product-list-font-weight		: 300;
$widget-product-list-text-transform		: none;

$filter-padding                         : 10px;
$filter-bg								: $white;
$filter-border-radius 					: 0;
$filter-box-shadow 						: none; 