$page-background								: #F8F8F8;

$box-heading-font-size							: 14px;

$block-sidebar-heading-font-size				: 18px;
$block-sidebar-heading-padding                  : 15px 0 15px 30px;
$block-sidebar-heading-color 					: $white;
$block-sidebar-box-margin						: 0 0 20px;

$block-module-heading-font-weight				: 700;
$block-module-heading-padding                   : 10px 0 20px;
$block-module-heading-margin					: 0;
$block-module-margin-bottom						: 0;
$block-module-heading-font-size					: 24px;
$block-module-heading-transform					: uppercase;

$block-sidebar-heading-hightlight-bg            : $theme-color;
$block-sidebar-heading-hightlight-margin-bottom : 0px;
$block-sidebar-hightlight-link-color			: #666666;
$block-sidebar-heading-hightlight-font-size     : 18px;
$block-sidebar-heading-hightlight-font-weight   : 900;
$block-sidebar-heading-hightlight-bg            : $theme-color;
$block-sidebar-heading-hightlight-padding       : 15px 30px;
$block-sidebar-heading-hightlight-color         : $white;
$block-sidebar-heading-hightlight-margin		: 0;
$block-sidebar-hightlight-content-bg			: $nocolor;
$block-sidebar-hightlight-content-padding		: 0;
$block-sidebar-hightlight-content-color			: #666666;
$block-sidebar-hightlight-border   				: 1px solid rgba(255, 255, 255, 0.1);
$block-sidebar-hightlight-font-size 			: 12px;	
$block-sidebar-hightlight-transform 			: uppercase;
$block-sidebar-hightlight-font-weight			: 300;	
$block-sidebar-list-hightlight-padding          : 12px 0;
$block-sidebar-list-hightlight-bg               : none;


$breadcrumb-padding-top          				: 50px !important;
$breadcrumb-padding-bottom       				: 30px !important;
$breadcrumb-margin               				: -20px 0 40px !important;
$breadcrumb-layout-bg			 				: rgba(0, 0, 0, 0.1)!important;
$breadcrumb-color				 				: #666666;
$breadcrumb-link-color			 				: #666666;
$breadcrumb-line-height			 				: 1;
$breadcrumb-name-font-size		 				: 24px;
$breadcrumb-name-font-weight	 				: 900;
$breadcrumb-name-color			 				: $black;

$topbar-bg                                      : #222222;
$topbar-link-color                              : $black;
$topbar-link-hover-color                        : $theme-color;
$topbar-color                                   : #999999;
$topbar-font-size								: 10px;

$header-padding-top                             : 0;
$header-padding-bottom                          : 0;
$header-margin-bottom                           : 0;

$del-font-size									: 14px;
$del-color										: #999999;

$footer-top-bg 									: #EC5355;
$footer-top-padding-top							: 12px; 
$footer-top-padding-bottom						: 12px;
$footer-top-font-size							: 12px;
$footer-top-letter-spacing						: 2px;
$footer-top-color								: $white;
$footer-font-size                               : 14px; 
$footer-link-font-size                          : 11px;

$footer-bg                                      : #143673;
$footer-color                                   : #9cadca;
$footer-link-color                              : #9cadca;
$footer-link-hover-color                        : $theme-color;

$copyright-bg                                   : #143673;
$copyright-color                                : #9cadca;
$copyright-link-color                           : $theme-color;
$copyright-padding-top                          : 35px;
$copyright-padding-bottom                       : 35px;
$copyright-font-size							: 12px;
$copyright-font-weight							: 400;