$widget-product-list-padding			: 15px 0;

$product-name-font-weight               : 600;
$product-name-font-size                 : 12px;
$product-name-line-height               : 18px;
$product-name-color                     : $black;
$product-name-margin                    : 0px;
$product-name-padding                   : 20px;
$product-name-height                    : 36px;

$product-price-old-color				: #999999;
$product-price-color                    : $theme-color;
$product-price-font-size                : 18px;
$product-price-font-weight				: 400;

// Star
// -------------------------
$star-rating-color                      : $nocolor;
$star-rating-active-color               : $nocolor;

$product-category-hover-color			: $theme-color;

$widget-product-list-font-weight		: 500;
$widget-product-list-text-transform		: none;

$filter-padding                         : 15px 8px;
$filter-bg								: $white;
$filter-border-radius 					: 4px;
$filter-box-shadow 						: 0 0 3px #d2d2d2; 